
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no,
    initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <title>✎TVBox配置接口解密</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="https://unpkg.com/vue@2/dist/vue.js" type="313a22f6708b893e5a3dbb8c-text/javascript"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js" type="313a22f6708b893e5a3dbb8c-text/javascript"></script>
  <style>
    .container {
      max-width: 1024px;
      margin: 0 auto;
      padding: 12px;
    }

    .title {
      text-align: center;
      margin: 0;
    }

    .row {
      margin-top: 22px;
      width: 100%;
    }

    .inline-input {
      display: block;
    }

    .el-autocomplete-suggestion__wrap {
      max-height: 470px;
    }

    .el-input-group__append,
    .el-input-group__prepend {
      background: transparent;
      color: #ffc107;
      padding: 0;
    }

    .el-button.is-plain:focus {
      background-color: transparent;
      color: #ffc107;
      border-color: transparent;
    }

    .el-button.is-plain:hover {
      background-color: #ffc107;
      color: initial;
      border-color: transparent;
    }

    .el-input-group__append .el-button {
      margin: 0;
      border-radius: 0;
    }

    .el-input-group__append button.btn_oper+.btn_oper {
      border-left-color: #DCDFE6;
    }
    .el-autocomplete-suggestion li{
      line-height:36px;
    }

    .el-textarea__inner{
      background-color: #DCDFE6;
      font-size: 16px;
      color: #000;
    }
    .btn-row button{
      position: relative;
    }
    .btn-row button a{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  @media screen and (max-width: 640px) {

    .el-autocomplete-suggestion{
      width:100% !important;
    }
    .el-button{
      padding:12px;
    }
  
  }
  </style>
</head>

<body>
  <div id="app">
    <div class="container">
      <h1 class="title">TVBox配置接口解密</h1>
      <div class="row">
        <el-autocomplete :popper-append-to-body="false" class="inline-input" v-model="selectedUrl"
          :fetch-suggestions="querySearch" placeholder="请输入TVBox配置接口" @select="handleSelect" clearable>
          <template slot-scope="{ item }">
            <span class="name">{{ item.name }}:</span>
            <span class="addr">{{ item.url }}</span>
          </template>
          <el-button slot="append" plain class="btn_oper" id="copyJoggle" :data-clipboard-text="selectedUrl"
            @click="copyContent('#copyJoggle')">复制接口</el-button>
          <el-button slot="append" class="btn_oper" plain @click="crawl()">一键解密</el-button>
        </el-autocomplete>
      </div>

      <div class="row" v-loading="loading">
        <el-input type="textarea" :autosize="{ minRows: 20, maxRows: 20}" v-model="resultData" readonly>
        </el-input>
      </div>

      <div class="row btn-row" style="text-align: center;">
        <el-button type="primary" id="copyResult" :data-clipboard-text="resultData"
        @click="copyContent('#copyResult')">复制内容</el-button>
		<el-button type="success" @click="downloadJar()">下载Jar</el-button>
		<!--<el-button type="success" @click="openLink()">下载Jar</el-button>-->
        <el-button type="danger"><a href="https://yydsys.top"></a>大聪明主页</el-button>
        <el-button type="warning"><a href="https://yydsys.cc"></a>风向标导航</el-button>
      </div>
    </div>
  </div>

<script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="313a22f6708b893e5a3dbb8c-|49" defer></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"version":"2024.11.0","token":"c00ca109267e4cb0a87caa941625bf98","r":1,"server_timing":{"name":{"cfCacheStatus":true,"cfEdge":true,"cfExtPri":true,"cfL4":true,"cfOrigin":true,"cfSpeedBrain":true},"location_startswith":null}}' crossorigin="anonymous"></script>
<script>(function(){function c(){var b=a.contentDocument||a.contentWindow.document;if(b){var d=b.createElement('script');d.innerHTML="window.__CF$cv$params={r:'992973265ee5103a',t:'MTc2MTE0MDg4MA=='};var a=document.createElement('script');a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";b.getElementsByTagName('head')[0].appendChild(d)}}if(document.body){var a=document.createElement('iframe');a.height=1;a.width=1;a.style.position='absolute';a.style.top=0;a.style.left=0;a.style.border='none';a.style.visibility='hidden';document.body.appendChild(a);if('loading'!==document.readyState)c();else if(window.addEventListener)document.addEventListener('DOMContentLoaded',c);else{var e=document.onreadystatechange||function(){};document.onreadystatechange=function(b){e(b);'loading'!==document.readyState&&(document.onreadystatechange=e,c())}}}})();</script></body>

</html>


<script src="https://cdn.bootcdn.net/ajax/libs/axios/1.3.4/axios.min.js" type="313a22f6708b893e5a3dbb8c-text/javascript"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/clipboard.js/2.0.11/clipboard.min.js" type="313a22f6708b893e5a3dbb8c-text/javascript"></script>

<script type="313a22f6708b893e5a3dbb8c-text/javascript">
  new Vue({
    el: '#app',
    data() {
      return {
        selectedUrl: '',
        resultData: '',
        loading:false,
        urls: [
		{
          "url": "https://yydsys.top/duo",
          "name": "🐤多多线路"
        },
		{
          "url": "https://cnb.cool/fish2018/pg/-/git/raw/master/jsm.json",
          "name": "🐷PG线路"
        },
		{
          "url": "http://饭太硬.ga/tv",
          "name": "🍲饭太硬"
        },
		{
          "url": "http://ok321.top/tv",
          "name": "👌OK线路"
        },{
          "url": "http://tvbox.王二小放牛娃.top",
          "name": "🐮二小线路"
        } ]//默认加载
      };
    },
    created(){
      this.getUrls();
    },
    methods: {
      querySearch(queryString, cb) {
        var urls = this.urls;
        var results = queryString ? urls.filter(this.createFilter(queryString)) : urls;
        // 调用 callback 返回建议列表的数据
        cb(results);
      },
      createFilter(queryString) {
        return (url) => {
          return (url.name.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
        };
      },
      handleSelect(item) {
        this.selectedUrl = item.url;
      },
      isObject(value) {
        return Object.prototype.toString.call(value) === '[object Object]';
      },
      getUrls(){
        axios
          .get('/api/getJson')
          .then((response) => {
            const urls = response.data.urls;
            this.urls = [...urls,...this.urls];
          })
          .catch((error) => {
            console.error(error);
          });
      },
      crawl() {
        const url = this.selectedUrl;
        this.loading = true;
        axios
          .get(`https://yydsys.cc/ua/jiemi.php?url=${encodeURIComponent(url)}`)
          .then((response) => {
            let resultData = response.data;
            if (this.isObject(resultData)) {
              resultData = JSON.stringify(resultData);
            }
            this.resultData = resultData;
            this.loading = false;
          })
          .catch((error) => {
            console.error(error);
            this.loading = false;
          });
      },

      openLink() {
        // 获取配置接口的值
        var editBox1 = this.selectedUrl;

        // 如果配置接口为空，则提示
        if (editBox1 == "") {
          this.$message({
            message: '请先输入配置接口',
            type: 'success'
          });
        } else {
          // 否则，在新窗口中打开JAR下载
          window.open("https://yydsys.cc/ua/downloadJar.php?url=" + editBox1);
        }
      },

      downloadJar() {
        let resultData = this.resultData;
        resultData = resultData.replace(/\s*:\s*/g, ':'); // 去掉所有冒号前后的空格
        let url = resultData.match(/"spider":"(.*?)"/) ?. [1];
        if (url && url.includes(';md5;')) {
          url = url.split(';md5;')[0];
        }
        if(!url){
          return;
        }

        if (/Mobi|Android|iPhone/i.test(navigator.userAgent)) {
        // 当前设备是移动设备
          this.downloadFile(url);
          return;
        }
        axios
          .get(`https://yydsys.cc/ua/downloadJar.php?url=${encodeURIComponent(url)}`, {
            responseType: 'blob',
          })
          .then((response) => {
            const blob = new Blob([response.data], {
              type: 'application/octet-stream',
            });
            const url = window.URL.createObjectURL(blob);
            this.downloadFile(url);
            window.URL.revokeObjectURL(url);
            
          })
          .catch((error) => {
            console.error(error);
            this.downloadFile(url);
          });
      },
      downloadFile(url) {
        const link = document.createElement('a');
        link.href = url;
        link.download = 'file.jar'; // 设置下载文件名
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link); // 下载完成后移除a标签
        this.$message({
            message: '下载中',
            type: 'success'
        });
      },
      copyContent(id) {
        let clipboard = new ClipboardJS(id);
        clipboard.on('success', (e) => {
          this.$message({
            message: '复制成功',
            type: 'success'
          });
          e.clearSelection();
          clipboard.destroy();
        });
      }
    }
  })
</script>
<!--花瓣🌸-->
<script src='https://yydsys.cc/ua/js/huaban.js' type="313a22f6708b893e5a3dbb8c-text/javascript"></script>
